<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista książek</title>
    <style>
        .book-cover {
            width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<h1>Lista książek</h1>
<table>
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Gatunek</th>
        <th>Dostępna</th>
        <th>Ilość</th>
        <th>Akcje</th>
        <th>Okładka</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.available ? 'Tak' : 'Nie'}"></td>
        <td th:text="${book.amount}"></td>
        <td><a th:href="@{/books/delete/{id}(id=${book.id})}">X</a></td>
        <td><img th:src="@{${book.coverPath}}" alt="Okładka książki" class="book-cover" /></td>
    </tr>
    </tbody>
</table>
</body>
</html>
