<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <meta charset="UTF-8">
    <title>Lista książek</title>
    <style>
        .book-cover {
            width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<h1>Wyszukaj książkę</h1>
<form action="/books/search" method="get">
    <label for="query">Tytuł książki:</label>
    <input type="text" id="query" name="query" placeholder="Wpisz tytuł książki" required>
    <button type="submit">Szukaj</button>
</form>
<h1>Lista książek</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Gatunek</th>
            <th>Dostępność</th>
            <th>Ilość</th>
            <th>Okładka</th>
            <th>Zamówienie pojedyncze</th>
            <th>Zamówienie podwójne</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="book : ${bookIterator}">
            <tr>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author.name}">Autor</td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.status}"></td>
                <td th:text="${book.amount}"></td>
                <td> <a th:href="@{/books/edit/{id}(id=${book.id})}">
                    <img th:src="@{${book.coverPath}}" alt="Okładka książki" width="100" />
                </a></td>
                <td> <a th:href="@{/books/order/{id}(id=${book.id})}">Wypożycz</a></td>
                <td> <a th:href="@{/books/ordertwice/{id}(id=${book.id})}">Wypożycz</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
