<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/scripts.js"></script>

    <meta charset="UTF-8">
    <title>Fragmenty</title>
    <style>
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        nav li {
            float: left;
        }

        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>
<div th:fragment="navbar">
    <nav>
        <ul>
            <li><a th:href="@{/}">Strona główna</a></li>
            <li><a th:href="@{/books}">Lista dostępnych książek</a></li>
            <li><a th:href="@{/authors}">Lista autorów</a></li>
            <li><a th:href="@{/books/add}">Dodanie książki</a></li>
            <li><a th:href="@{/authors/add}">Dodanie autora</a></li>
            <li>
                <select id="genreSelector">
                    <option value="">Wybierz gatunek</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Science">Science</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Biography">Biography</option>
                    <option value="History">History</option>
                    <option value="Horror">Horror</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                </select>
                <button onclick="goToReportPage()">Wyświetl raport</button>
            </li>
            <li><a th:href="@{/login}">Logowanie</a></li>
        </ul>
    </nav>
</div>
</body>
</html>