<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <meta charset="UTF-8">
    <title>Fragmenty</title>
    <style>
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        nav li {
            float: left;
        }

        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>
<div th:fragment="navbar">
    <nav>
        <ul th:each="element: ${navigationElements}">
            <li>
                <a href="#" th:onclick="expandOrCollapse(${element})" th:text="${element.text}"></a>
                <a th:href="${element.link}" th:text="${element.linkText}"></a>
            </li>
        </ul>
        <select id="genreSelector">
            <option value="">Wybierz gatunek</option>
            <option value="Fiction">Fiction</option>
            <option value="Science">Science</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Biography">Biography</option>
            <option value="History">History</option>
            <option value="Horror">Horror</option>
            <option value="Sci-Fi">Sci-Fi</option>
        </select>
        <button th:onclick="showAlert()">Wyświetl raport</button>
    </nav>
</div>
</body>
</html>